@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

p,
a,
span,
strong,
h3 {
    font-family: 'Montserrat', sans-serif;
}

/* __________________--header ____________________________- */

header {
    padding-top: 75px;
}

.container {
    max-width: 1740px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 776px;
}

nav ul {
    display: flex;
    gap: 72px;
}

li a {
    color: #333;
    font-size: 18px;
}

.active {
    font-weight: 700;
}

/* ___________________________ hero section _______________________ */

section {
    padding-top: 67px;
}

.row-section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 175px;
}

/*_______________________________ upper row _______________________  */

.upper {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}

.heading {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

h1 {
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 140%;
}

.heading p {
    color: #333;
    font-size: 24px;
    line-height: 140%;
}

.order-menu {
    display: flex;
    gap: 66px;
    align-items: center;
}

.order {
    border-radius: 50px;
    background: #FFB22C;
    padding: 19px 61px;
    color: var(--White, #FFF);
    font-size: 18px;
    font-weight: 700;
}

.menu {
    display: flex;
    gap: 24px;
    align-items: center;
    color: #333;
    font-size: 18px;
    font-weight: 700;
}

/* _________________________ lower row ___________________________ */

.lower {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 76px;
    align-items: end;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 31px;
    border-radius: 35px;
    background: #FFF;
    padding: 39px 109px 45px 36px;
    box-shadow: 0px -5px 40px 0px rgba(109, 141, 173, 0.25);
}

.text {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.item p,
.item-honey p {
    color: #333;
    font-size: 24px;
    line-height: 140%;
}

h3 {
    width: 261px;
    color: #333;
    font-size: 24px;
    line-height: 140%;
}

.honey {
    font-size: 36px;
    width: 318px;
}

.item-honey {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 31px;
    border-radius: 35px;
    background: #FFF;
    padding: 42px 60px 50px 58px;
    box-shadow: 0px -5px 40px 0px rgba(109, 141, 173, 0.25);


}

/* ________ cart ____________ */
.cart {
    position: absolute;
    right: 10px;
    top: -70px;
}

/* ___________- yellow bg ________ */
.y-bg {
    display: none;
}

/* ___________ main photo __________ */
.photo {
    position: absolute;
    bottom: 93px;
    right: -228px;
    z-index: -1;
}

@media (min-width:1725px) {
    .heading{
        text-align: start;
    }
    .lower {
        justify-content: unset;
        gap: 100px;
    }

    .item-honey {
        margin-left: 150px;
    }

    .y-bg {
        position: absolute;
        z-index: -1;
        bottom: -80px;
        right: -225px;
    }
}

@media (max-width:1665px) {
    .photo img {
        width: 900px;
    }

    .photo {
        bottom: 100px;
        right: -100px;

    }

    .y-bg {
        position: absolute;
        z-index: -1;
        bottom: -80px;
        right: -225px;
    }
}

@media (max-width:1550px) {
    h1 {
        font-size: 55px;
    }
}

@media (max-width:1310px) {

    .lower {
        flex-direction: column-reverse;
    }

    .photo img {
        width: 750px;
    }

    .item-honey {
        align-self: end;
    }

    .photo {
        bottom: 150px;
        right: -60px;
    }

    .align-b {
        align-self: baseline;
    }

    .align-e {
        align-self: end;
    }
}

@media (max-width:1175px) {
    .row-section {
        gap: 250px;
    }

    .lower {
        gap: 50px;
    }

    .photo {
        bottom: -50px;
        right: 275px;
    }

    .photo img {
        width: 650px;
    }
}

@media (max-width:840px) {
    .upper{
        align-items: center;
        text-align: center;
    }
    .row-section {
        gap: 500px;
    }

    .lower {
        gap: 100px;
    }

    .align-b,
    .align-e,
    .item-honey {
        align-self: center;
    }

    .photo {
        right: -90px;
        bottom: 175px;
    }
}

@media (max-width:690px) {
    nav {
        display: none;
    }
}
@media (max-width:490px){
    .honey{
        width: min-content;
    }
    h3{
        width: min-content;
    }
    .photo{
        right: -118px;
        bottom: 300px;
    }
    .photo img{
        width: 550px;
    }
}
@media (max-width:410px){
    .row-section{
        gap: 350px;
    }

    .order-menu{
        flex-direction: column;
    }
    .photo img{
        width: 450px;
    }

    .photo{
        right: -72px;
        bottom: 300px;
    }
}